.auth-layout {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    radial-gradient(
        circle at top,
        #1e293b,
        #020617
    );

    padding:40px;

}