.submit-answer-btn{


width:100%;

margin-top:25px;

padding:15px;

border-radius:12px;

border:none;

background:

linear-gradient(
135deg,
#6366f1,
#8b5cf6
);


color:white;

font-size:17px;

font-weight:700;

cursor:pointer;


}



.submit-answer-btn:hover{

transform:translateY(-2px);

box-shadow:
0 10px 25px rgba(99,102,241,.35);

}