.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:1000;

    background:

    rgba(15,23,42,0.75);

    backdrop-filter:

    blur(14px);

    border-bottom:

    1px solid rgba(255,255,255,0.08);

}


.navbar-container{

    max-width:1200px;

    margin:auto;

    padding:18px 30px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}


.logo{

    font-size:26px;

    font-weight:800;

    color:white;

}


.logo span{

    color:#6366f1;

}


.nav-links{

    display:flex;

    gap:30px;

}


.nav-links button{

    background:none;

    border:none;

    color:#e2e8f0;

    font-size:15px;

    cursor:pointer;

}


.nav-links button:hover{

    color:white;

}


.nav-actions{

    display:flex;

    gap:12px;

}


.login-btn{

    background:transparent;

    color:white;

    border:

    1px solid #475569;

    padding:10px 22px;

    border-radius:10px;

    cursor:pointer;

}


.register-btn{

    background:#6366f1;

    color:white;

    border:none;

    padding:11px 24px;

    border-radius:10px;

    cursor:pointer;

}


.register-btn:hover{

    background:#4f46e5;

}