.profile-wrapper{

position:relative;

}



.profile-btn{

background:#334155;

color:white;

border:none;

padding:10px 16px;

border-radius:12px;

cursor:pointer;

}



.profile-menu{

position:absolute;

right:0;

top:50px;

width:180px;

background:#1e293b;

border-radius:12px;

padding:10px;

box-shadow:
0 10px 30px rgba(0,0,0,.3);

}



.profile-menu button{

width:100%;

background:none;

border:none;

color:white;

padding:12px;

text-align:left;

cursor:pointer;

}



.profile-menu button:hover{

background:#334155;

}